
a {
	color: #000;
	text-decoration: none;
}
.text-link-nav {
	color: #1C1C1C;
	font-size: 19px;
	transition: 0.5s;
} 
.text-link-nav:hover{
	color: #fff;

}
.text-link-nav:active{
	color: #1C1C1C;
	text-decoration: underline;
}
.border1 {
	border: 2px solid purple;
}
.border2 {
	border: 2px solid red;
}
#icon-android:hover, #icon-instagram:hover{
	transition: 0.5s;
	cursor: pointer;
	color: #000;
	background: #fff;
}
#icon-android:hover > svg, #icon-instagram:hover > svg {
	color: #000;
}
footer {
	height: 100px;
}